<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lesson Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/loopple.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="g-sidenav-show" style="background: #FFE8D6">

    <!-- SideNav -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light loopple-fixed-start"
        id="sidenav-main" style="background: #FFE8D6">
        <div class="sidenav-header  align-items-center" style="background: #FFE8D6">
            <a class="navbar-brand" href="landing.html">
                <img src="\static\images\logo.jpg" class="navbar-brand-img" alt="..."> 首頁
            </a>
        </div>
        <div class="navbar-inner" style="background: #FFE8D6">
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">
                            <i class="fa fa-desktop text-primary"></i>
                            <span class="nav-link-text">我的資料</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="uploadPaper.html">
                            <!-- <a class="nav-link active" href="javascript:" remove 'active'> -->
                            <i class="fa fa-globe text-info"></i>
                            <span class="nav-link-text">上傳考古題</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:">
                            <i class="fa fa-map-marker text-warning"></i>
                            <span class="nav-link-text">我的貼文</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:">
                            <i class="fa fa-table text-dark"></i>
                            <span class="nav-link-text">我的收藏</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="CoinWallet.html">
                            <i class="fa fa-lock text-danger"></i>
                            <span class="nav-link-text">COIN錢包</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:">
                            <i class="fa fa-key text-success"></i>
                            <span class="nav-link-text">設定</span>
                        </a>
                    </li>
                </ul>

                <hr class="my-3">
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">學年</span>
                </h6>
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:">
                            <i class="fa fa-rocket"></i>
                            <span class="nav-link-text">大一</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:">
                            <i class="fa fa-palette"></i>
                            <span class="nav-link-text">大二</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:">
                            <i class="fa fa-chart-pie"></i>
                            <span class="nav-link-text">大三</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:">
                            <i class="fa fa-puzzle-piece"></i>
                            <span class="nav-link-text">大四</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of TopNav -->

    <div class="main-content" id="panel">
        <!-- TopNav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark border-bottom" id="navbarTop"
            style="background: #FFE8D6">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="navbar-search navbar-search-light form-inline mr-sm-3 mb-0" id="navbar-search-main">
                        <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge" style="background: #fff">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control me-2" type="search" placeholder="輸入課名 / 教師"
                                    aria-label="Search">
                            </div>
                        </div>
                        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
                            aria-label="Close">
                            <span aria-hidden="true">11111111111111111111111111111111111111111111</span>
                        </button>
                    </form>


                    <!-- Dropdown Menu -->
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 text-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder" src="\static\images\head.png">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold" style="color: black">粉頭</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a href="#!" class="dropdown-item">
                                    <i class="fa fa-user"></i>
                                    <span>My profile</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fa fa-tools"></i>
                                    <span>Settings</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="far fa-calendar"></i>
                                    <span>Activity</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fa fa-phone"></i>
                                    <span>Support</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#!" class="dropdown-item">
                                    <i class="fa fa-sign-out-alt"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End of TopNav -->
        <div class="card-body"></div>




        <div class="container-fluid pt-3">
            <div class="row removable">

                <!-- Main lesson MIDDLE column -->
                <div class="col-lg-10">
                    <!-- 走馬燈 -->
                    <div class="row removable" id="course-list">
                    </div>
                    <div class="row removable course-changing-bar">
                        <div class="col-lg-2">
                            <button id="load-less-btn" class="btn btn-dark col text-center">&lt;</button>
                        </div>
                        <div class="col-lg-2">
                            <button id="load-more-btn" class="btn btn-dark col text-center">&gt;</button>
                        </div>
                    </div>
                             
                    <!-- End of 走馬燈 -->



                    <div class="row removable">
                        <div class="col-lg-12"></div>
                    </div>
                    <div class="row removable">

                        <div class=" card-body col-lg-12" style="background: #FFF">
                            <div class="row removable" id="course_data">
                                <div class="card-body col-lg-10" style="background: #FFF3F3">
                                    <!-- <div class="row removable">
                                        <div class="col-lg-6">
                                            <p class="">程式設計I</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="">數學能力: *****</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="">編程能力: **</p>
                                        </div>
                                    </div>
                                    <div class="row removable">
                                        <div class="col-lg-6">
                                            <p class="">授課老師：</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="">邏輯思維: *</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="">創新能力: ***</p>
                                        </div>
                                    </div>
                                    <div class="row removable">
                                        <div class="col-lg-6">
                                            <p class="">天使</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="">解決問題: ***</p>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row removable">
                        <div class="col-lg-12"></div>
                    </div>
                </div>
                <!-- End of Main lesson MIDDLE column -->


                <!-- Core ability RIGHT column -->
                <div class="col-lg-2">
                    <div class="row removable">
                        <div class="col-lg-12">
                            <p class="">基本/核心能力指標</p>
                        </div>
                    </div>
                    <div class="row removable">
                        <div class="col-lg-12">
                            <p class="">數學能力 : {{credit[0][15]}}</p>
                            <p class="">編程能力 :  {{credit[0][16]}}</p>
                            <p class="">邏輯思維能力 :  {{credit[0][17]}}</p>
                            <p class="">創新能力 :  {{credit[0][18]}}</p>
                            <p class="">解決問題能力 :  {{credit[0][19]}}</p>
                        </div>
                    </div>
                </div>
                <!-- End of Core ability RIGHT column -->


            </div>
        </div>
        <!-- Footer -->
        <footer class="footer pt-0 px-4" style="background: #FFE8D6">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-muted" style="text-indent: 20%">
                        © 來源參考:
                        <a href="https://www.creative-tim.com/product/argon-dashboard" class="font-weight-bold ml-1"
                            target="_blank" style="color: #6B705C">Argon Dashboard</a>
                        &amp;<a href="https://www.loopple.com" class="font-weight-bold ml-1" target="_blank"
                            style="color: #6B705C">Loopple</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">網站投訴電話 : 04-24517250</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link" style="margin-right: 150px">網站負責人：校霸</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/jquery.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/bootstrap.bundle.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/chart.extension.js"></script>
    <script
        src="https://rawcdn.githack.com/Loopple/loopple-public-assets/7bb803d2af2ab6d71d429b0cb459c24a4cd0fbb4/argon-dashboard/js/argon.min.js"></script>
    <script>
        if (document.querySelector(".chart-bar")) {
            var chartsBar = document.querySelectorAll(".chart-bar");

            chartsBar.forEach(function (chart) {
                new Chart(chart, {
                    type: "bar",
                    data: {
                        labels: ["Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [
                            {
                                label: "Sales",
                                tension: 0.4,
                                borderWidth: 0,
                                pointRadius: 0,
                                backgroundColor: "#fb6340",
                                data: [25, 20, 30, 22, 17, 29],
                                maxBarThickness: 10,
                            },
                        ],
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            display: false,
                        },
                        tooltips: {
                            enabled: true,
                            mode: "index",
                            intersect: false,
                        },
                        scales: {
                            yAxes: [
                                {
                                    gridLines: {
                                        borderDash: [2],
                                        borderDashOffset: [2],
                                        drawTicks: false,
                                        drawBorder: false,
                                        lineWidth: 1,
                                        zeroLineWidth: 0,
                                        zeroLineBorderDash: [0],
                                        zeroLineBorderDashOffset: [2],
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        padding: 10,
                                        fontSize: 13,
                                        lineHeight: 5,
                                        fontColor: "#8898aa",
                                        fontFamily: "Open Sans",
                                    },
                                },
                            ],
                            xAxes: [
                                {
                                    gridLines: {
                                        display: false,
                                        drawBorder: false,
                                        drawOnChartArea: false,
                                        drawTicks: false,
                                    },
                                    ticks: {
                                        padding: 20,
                                        fontSize: 13,
                                        fontColor: "#8898aa",
                                        fontFamily: "Open Sans",
                                    },
                                },
                            ],
                        },
                    },
                });
            });
        }

        if (document.querySelector(".chart-line")) {

            var chartsLine = document.querySelectorAll(".chart-line");

            chartsLine.forEach(function (chart) {

                new Chart(chart, {
                    type: "line",
                    data: {
                        labels: ["May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [{
                            label: "Performance",
                            tension: 0.4,
                            borderWidth: 4,
                            borderColor: "#5e72e4",
                            pointRadius: 0,
                            backgroundColor: "transparent",
                            data: [0, 20, 10, 30, 15, 40, 20, 60, 60],
                        },],
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            display: false,
                        },
                        tooltips: {
                            enabled: true,
                            mode: "index",
                            intersect: false,
                        },
                        scales: {
                            yAxes: [{
                                barPercentage: 1.6,
                                gridLines: {
                                    drawBorder: false,
                                    color: "rgba(29,140,248,0.0)",
                                    zeroLineColor: "transparent",
                                },
                                ticks: {
                                    padding: 0,
                                    fontColor: "#8898aa",
                                    fontSize: 13,
                                    fontFamily: "Open Sans",
                                },
                            },],
                            xAxes: [{
                                barPercentage: 1.6,
                                gridLines: {
                                    drawBorder: false,
                                    color: "rgba(29,140,248,0.0)",
                                    zeroLineColor: "transparent",
                                },
                                ticks: {
                                    padding: 10,
                                    fontColor: "#8898aa",
                                    fontSize: 13,
                                    fontFamily: "Open Sans",
                                },
                            },],
                        },
                        layout: {
                            padding: 0,
                        },
                    },
                });

            });
        }
    </script>


    <script></script>
    <!-- Loople JavaScript -->
    <script src="/static/js/loopple.js"></script>

    <!-- 做每六筆跳轉 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        const success_func = (data) => {
            let new_course_list = '';
            let new_course_data = '';
            data['query_course_names'].forEach((element) => {
                new_course_list += `
                <div class="col-lg-2">
                    <a class="btn bg-gradient-green col text-center" href="/lessonDiscussion?course_name=${element['course_name']}">${element['course_name']}</a>
                    </div>
                `;
                
                new_course_data += `
                <div class="card-body col-lg-10" style="background: #FFF3F3">
                    <div class="row removable">
                        <div class="col-lg-6">
                            <p class="">${element['course_name']}</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="">數學能力: ${element['math']}</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="">編程能力: ${element['coding']}</p>
                        </div>
                    </div>
                    <div class="row removable">
                        <div class="col-lg-6">
                            <p class="">授課老師：</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="">邏輯思維: ${element['logic']}</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="">創新能力: ${element['creative']}</p>
                        </div>
                    </div>
                    <div class="row removable">
                        <div class="col-lg-6">
                            <p class="">天使</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="">解決問題: ${element['slove']}</p>
                        </div>
                    </div>
                </div>
                `;
            });
            document.querySelector('#course-list').innerHTML = new_course_list; 
            document.querySelector('#course_data').innerHTML = new_course_data;
        };

        const loadCourse = (type) => {
            if (type == "more"){
                page++;
            } else if (type == "less") {
                page--;
            }
            $.ajax({
                url: "/lessonName", // 替換為您的路由地址
                type: "GET",
                data: {
                    'amount': 6,
                    'page': page,
                },
                success: success_func,
                error: function (xhr, status, error) {
                    console.log("發生錯誤:", error);
                    alert("發生錯誤，無法獲取新的資料。");
                },
            });
        }

        let page = 0;
        document.addEventListener("DOMContentLoaded", function () {
            // 获取 URL 参数的函数
            const getParameterByName = (name, url) => {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
                const results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            };

            // 获取传递的 course_name 参数
            const courseName = getParameterByName('course_name');

            const loadMoreBtn = document.getElementById("load-more-btn");
            const loadLessBtn = document.getElementById("load-less-btn");
            const courseBtns = document.getElementsByClassName("btn bg-gradient-green col text-center");
            loadCourse();

            loadMoreBtn.addEventListener("click", () => {
                loadCourse('more');
            });

            loadLessBtn.addEventListener("click", function () {
                loadCourse('less');
            });
        });
    </script>
    

</body>

